main {
  /* border: 1px solid red; */
  width: 100%;
}
.container {
  /* background-color: var(--orange-darker); */
  min-height: 80svh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 2.4rem;
      min-height: 100%;
      img {
        transition: all 0.4s ease-in-out;
        filter: grayscale(1);
        width: 50%;
      }
    }
    div:hover {
      /* background-color: red; */
      img {
        box-shadow: 0.4rem 0.4rem 0px 0px #ffffff,
          0.8rem 0.8rem 0px 0px var(--orange);
        filter: grayscale(0);
      }
      button.outline {
        background-color: var(--orange);
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    justify-content: space-around;
    a {
      div {
        flex-direction: row;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0px;
    a {
      div {
        flex-direction: column;
        gap: 1.4rem;
        img {
          width: 70%;
        }
        button {
          font-size: 1rem;
          min-width: 70%;
        }
      }
    }
  }
}
